<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Edit Match</title>
</head>
<body>
    
    <h1>Edit Match</h1>

    <% if (match) { %>
        <form action="/users/<%= currentUser._id %>/match/<%= match._id %>?_method=PUT" method="POST">
            <label for="homeTeam">Home Team:</label>
            <input type="text" name="homeTeam" value="<%= match.homeTeam %>">
            <br>
            <label for="awayTeam">Away Team:</label>
            <input type="text" name="awayTeam" value="<%= match.awayTeam %>">
            <br>
            <label for="homeScore">Home Score:</label>
            <input type="number" name="homeScore" value="<%= match.homeScore %>">
            <br>
            <label for="awayScore">Away Score:</label>
            <input type="number" name="awayScore" value="<%= match.awayScore %>">
            <br>
            <button type="submit">Update Match</button>
        </form>
    <% } else { %>
        <p>Match not found!</p>
    <% } %>

</body>
</html>
