<a href="/users/matchId/match/new">Back</a>
<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>All Matches</title>

</head>
<body>
  
    <h1>All Matches</h1>
    <form action="/matches" method="POST"></form>
    <ul>
        <% matches.forEach(match => { %>
            <li>
                <span>
                    <%= match.homeTeam %> vs. <%= match.awayTeam %>
                </span>
                <span> (<%= match.homeScore %> - <%= match.awayScore %>) </span>
                <span> - <%= new Date(match.date).toLocaleDateString() %></span>
                <form action="/users/<%= id %>/match/<%= match._id %>/edit" method="PUT">
                  <button type="submit">Edit</button>
                </form>
                <form action="/users/<%= id %>/match/<%= match._id %>?_method=DELETE" method="POST"> <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>