
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title> 

</head>
<body>
    <h1>All Matches</h1>
    <ul>
        <% matches.forEach(match => { %>
            <li>
                <a href="/matches/<%= match._id %>">
                    <%= match.homeTeam.name %> vs. <%= match.awayTeam.name %>
                </a>
                <span> (<%= match.homeScore %> - <%= match.awayScore %>) </span>
                <span> - <%= new Date(match.date).toLocaleDateString() %></span>
            </li>
        <% }); %>
    </ul>
</body>
</html>