

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <title><%= matches.homeTeam %> vs. <%= matches.awayTeam %></title>
</head>
<body>
    <div class="flex-container"></div>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Match Details</h1>
    <form action="/users/<%= user._id %>/match/<%= match._id %>?_method=DELETE" method="POST">
        </form>
    <p><strong>Home Team:</strong> <%= match.homeTeam %></p>
    <p><strong>Away Team:</strong> <%= match.awayTeam %></p>
    <p><strong>Date:</strong> <%= match.date %></p>
    <p><strong>Home Score:</strong> <%= match.homeScore %></p>
    <p><strong>Away Score:</strong> <%= match.awayScore %></p>
</body>
</html>